.photo-grid {
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-auto-flow: row;
    gap: 16px;
    align-items: center;
    margin: 92px auto 0;
    padding: 0 48px;
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        grid-template-columns: repeat(3, auto);
        gap: 14px;
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        grid-template-columns: repeat(2, auto);
        gap: 16px;
        width: calc(100% - 48px);
        margin: 88px 24px 0;
        padding: 0;
    }
}

@media screen and (max-width: 550px) {
    .photo-grid {
        grid-template-columns: repeat(1, auto);
        gap: 12px;
        width: calc(100% - 32px);
        margin: 64px 16px 0;
    }
}