.lead {
    max-width: 984px;
    max-height: 1005px;
    min-width: 320px;
    min-height: 406px;
    box-sizing: border-box;
    margin: 56px auto 0;
    padding: 0;
    background-color: darkgrey;
}

@media screen and (max-width: 1024px) {
    .lead{
        margin-top: 48px;
    }
}