.lead {
    box-sizing: border-box;
    width: calc(100% - 296px);
    min-width: 320px;
    margin: 56px 148px 0;
    padding: 0;
}

@media screen and (max-width: 1024px) {
    .lead{
        width: calc(100% - 96px);
        margin: 48px 48px 0;
    }
}

@media screen and (max-width: 768px) {
    .lead {
        width: 100%;
        margin: 48px 0;
    }
}