.header__logo {
    width: 176px;
    height: 52px;
    background: url(../../../images/header-logo.svg) no-repeat left top;
    background-size: contain;
}

@media screen and (max-width: 450px) {
    .header__logo {
        width: 142px;
        height: 42px;
    }
}