.lead__title {
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    margin: 0;
    word-wrap: break-word;
}

@media screen and (max-width: 700px) {
    .lead__title{
        font-size: calc(45px + 3vw);
        line-height: 70px;
    }
}

@media screen and (max-width: 320px) {
    .lead__title{
        font-size: 40px;
        line-height: 44px;
    }
}
