.lead__title {
    width: 720px;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

@media screen and (max-width: 719px) {
    .lead__title{
        width: 450px;
        font-size: 54px;
        line-height: 58px;
    }
}

@media screen and (max-width: 450px) {
    .lead__title{
        width: 288px;
        font-size: 40px;
        line-height: 44px;
    }
}
